@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
	background-color: #ffffff;
}
#intro {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 1em;
}
.intro_header {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 2em;
}
.intro_body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	background-color: #ffffff;
}
navbar {
	display: inline-block;
}
#games {
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin: 1em;
}
.game {
	overflow: hidden;
	margin: 1em 0 1em 0;
}
.game_content {
	background-color: #ffffff;
	float: left;
	width: 100%;
}
.game_img {
	border-spacing: inherit;
	line-height: 0;
	opacity: 0.5;
	float: left;
	margin-right: 1em;
}
.game_info {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
}
.game_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: #000000;
}
.game_desc {
	font-size: 1em;
	color: #000000;
	word-wrap: break-word;
}
.desc_link {
	color: #000000;
}
.desc_link:link {
	color: #000000;
}
.desc_link:hover, visited {
	color: #000000;
}
.game_links {
	opacity: 0.5;
}
a:link:not(.navlink) {
	font-weight: bold;
	color: #000000;
}
a:hover:not(.navlink),
a:visited:not(.navlink) {
	font-weight: bold;
	color: #444444;
}